* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Merriweather", serif; */
    /* font-family: "Inter", sans-serif; */
}
.btn {
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    padding: 16px 32px;
    color: #ffffff;
    background-color: #FF0000;
}
.btn:hover {
    cursor: pointer;
    opacity: 0.83;
}

.header-content {
    background: linear-gradient(to bottom, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)), url("images/Banner\ Image.png");
    background-repeat: no-repeat;
    font-family: "Merriweather";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    text-align: center;
    border-radius: 16px;
    height: 600px;
    width: 82%;
    max-width: 1600px;
}
.header-content-text h3 {
    font-size: 32px;
    margin-bottom: 16px;
}
.header-content-text h1 {
    font-size: 72px;
    line-height: 95px;
}

.header-banner {
    font-family: "Inter";
    text-align: center;
    margin: 80px auto;
}
.header-banner-text h1 {
    font-size: 80px;
    font-weight: bold;
    color: #FF0000;
}
.header-banner-text p {
    margin: 48px auto 16px;
    font-size: 24px;
    font-weight: 500;
}
.header-banner-text h3 {
    font-size: 48px;
    font-weight: bold;
    color: #070211;
    margin-bottom: 48px;
}

.welcome-box {
    background: linear-gradient(to right, rgba(7, 2, 17, 1), rgba(7, 2, 17, 0)), url("images/Vectorrr.png");
    background-repeat: no-repeat;
    font-family: "Merriweather";
    color: #ffffff;
    border-radius: 16px;
    margin: 120px auto;
    height: 600px;
    width: 82%;
    max-width: 1600px;
    display: flex;
    justify-content: center;
}
.welcome-box-text {
    padding: 126px 0 126px 126px;
}
.welcome-box-text h2 {
    font-size: 64px;
    line-height: 88px;
    letter-spacing: 11px;
}
.welcome-box-text p {
    font-size: 18px;
    line-height: 30px;
    color: rgb(255, 255, 255, 0.8) !important;
    margin: 24px 0 48px;
}
.welcome-box-image img {
    opacity: 0.82;
    padding: 68px;
}

.welcome-event {
    font-family: "Inter";
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.15), rgba(255, 0, 0, 0));
    width: 82%;
    height: 482px;
    margin: 0 auto;
    padding: 100px;
    text-align: center;
}
.welcome-event h3 span {
    color: #FF0000;
}
.welcome-event h3 {
    color: #070211;
    font-size: 32px;
    font-weight: 500;
    line-height: 56px;
}
.welcome-event button {
    margin-top: 46px;
}